/.stack-work/
/*.cabal
*.hi
*.o
LC
DeBruijn.tex
HOAS.tex
IdInt.tex
Lambda.tex
Main.tex
Simple.tex
Unique.tex
top.aux
dist-newstyle/
stack.yaml.lock
*~
~$*.pptx
.DS_Store
.vscode/
.stack-work/
tmp
lib/old/*
*.aux
*.log
*.out
